# Server Configuration
PORT=
NODE_ENV=
FRONTEND_URL=

# JWT Configuration
JWT_SECRET=
JWT_EXPIRES_IN=
REFRESH_TOKEN_EXPIRES_IN=

# Database Configuration (PostgreSQL)
DB_HOST=
DB_PORT=
DB_USERNAME=
DB_PASSWORD=
DB_NAME=
DB_SCHEMA=
DB_MIGRATE_DATA=

# Service Email Nodemailer 
EMAIL_HOST=
EMAIL_PORT=
EMAIL_USER=
EMAIL_PASSWORD=
EMAIL_FROM_NAME=
EMAIL_SECURE=